/* 버튼 기본스타일 삭제 */
button {
    background: none;
    border: none;
    padding: 0;
}

/* 리스트 기본스타일 삭제 */
li {
    list-style: none;
}

/* input 기본스타일 삭제 */
input {
   background: none;
   border: none;
   outline: none;
}

/* p태그 기본마진 제거*/
p {
    margin: 0;
    font-size: 1.2rem;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 600px;
    height: 100vh;
    margin: 0;
}

/* 헤더 */
.header{
    width: 100%;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2rem 0 1rem 0;
}

.cover-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .7s ease, opacity .5s ease;
}

.cover-navbar-menu.active {
    display: flex;
    max-height: 500px; 
    opacity: 1;
}

.navbar-menu {
    display: flex;
    padding: 0;
}

.navbar-right {
    display: flex;
}

.navbar-searchBtn {
    padding: .75vw;
}

.navbar-searchBtn:hover {
    color: rgb(90, 90, 90);
}

.navbar-toggleBtn {
    padding: .75vw;
    color: black;
}

.navbar-toggleBtn:hover {
    color: rgb(90, 90, 90);
}

/* 메인 */
.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default-div {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.back-btn-div{
    padding-top: 1.5vw;
    align-self: flex-start;
}

.back-btn:hover svg path {
    stroke: rgb(90, 90, 90);
}

.welcome-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.welcome-div p {
    margin-top: 1vw;
    font-weight: bold;
}

.welcome-div img{
    margin-left: 1rem;
}

.start-div {
    width: 100%;
    text-align: left;
    padding-left: 1vw;
    box-sizing: border-box;
    font-weight: bold;
}

.cover-agree-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
} 

.agree-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

.border-line {
    border-top: solid 1px black;
    border-bottom: solid 1px rgb(201, 200, 200);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.agree-left {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: .5vw;
    padding-right: .5vw;
}

.inner-agree-div { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5vw;
    padding-right: .5vw;
}

.agree-div span {
    margin-left: .5vw;
}

.agree-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-div {
    display: flex;
    justify-content: center;
    width: 80%;
}

.next-btn {
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    background-color: #FFD651;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/* 미디어 쿼리 */
/* 미디어 쿼리 */
/* 미디어 쿼리 */
@media screen and (max-width: 600px) {
    .header-div {
        padding: 2rem 1rem;
    }

    .navbar-searchBtn {
        padding-right: .4rem;
    }
    
    .navbar-toggleBtn {
        padding-left: 0.4rem;
        color: black;
    }
    
    .back-btn-div{
        align-self: flex-start;
        padding: 1rem .6rem;
    }

    .start-div { 
        width: 90%;
    }

    .start-div p {
        font-size: 1rem;
    }

    .welcome-div {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .welcome-div p {
        font-size: 1rem;
        margin-top: .5rem;
    }

    .cover-agree-div {
        margin-bottom: 2.5rem;
    }

    .agree-div {
        width: 90%;
        margin: 0.5rem;
    }

    .border-line {
        width: 90%;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .agree-div span {
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }

    .next-btn {
        font-size: 1.2rem;
    }
}